{% extends "layout.html" %}

{% set active_page = "page5" %}

{% block title %}Page 5{% endblock %}

{% block content %}
		<h1>Question 5</h1>
		<p>16^2 =</p>
		
	<form action = "/f" method = "POST">
	
		<div class="form-check">
		  <input type="radio" class="form-check-input" id="radio1" name="temp" value="300" checked>300
		  <label class="form-check-label" for="radio1"></label>
		</div>
		<div class="form-check">
		  <input type="radio" class="form-check-input" id="radio2" name="temp" value="72">72
		  <label class="form-check-label" for="radio2"></label>
		</div>
		<div class="form-check">
		  <input type="radio" class="form-check-input" id="radio3" name="temp" value="256">256
		  <label class="form-check-label"></label>
		</div>
		
		<button type="submit" class="btn btn-primary">Next Question</button>
	</form>
{% endblock %}