{% extends "layout.html" %}

{% set active_page = "page4" %}

{% block title %}Page 4{% endblock %}

{% block content %}
		<h1>Question 4</h1>
		<p>25/5 =</p>
		<div class="form-check">
		  <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>1
		  <label class="form-check-label" for="radio1"></label>
		</div>
		<div class="form-check">
		  <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">42
		  <label class="form-check-label" for="radio2"></label>
		</div>
		<div class="form-check">
		  <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">5
		  <label class="form-check-label"></label>
		</div>
		<a href="/p3" class="btn btn-primary">Previous page</a>
		<a href="/p5" class="btn btn-primary">Next page</a>
{% endblock %}